<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Haier-中继器</title>
    <script src="/luci-static/openwrt.org/jquery-3.0.0.js"></script>
    <link rel="stylesheet" href="/luci-static/openwrt.org/base.css">
    <link rel="stylesheet" href="/luci-static/openwrt.org/mainpage.css">
</head>

<% 
  require "luci.tools.status"
  require "luci.version"

  local fs = require "luci.fs"

  luci.sys.exec("iwpriv apcli0 show connStatus")

  local uci = require("luci.model.uci").cursor()

  local lanipaddr = uci:get("network","lan","ipaddr")
  local apcssid = uci:get_first("wireless","wifi-device","ApCliSsid")
  local ssid = uci:get_first("wireless","wifi-iface","ssid")
  local key = uci:get_first("wireless","wifi-iface","key")

  local version = luci.version.luciversion

  local linkstatus
  local apcli = luci.util.pcdata(fs.readfile("/proc/apcli_info")) or "Disconnect"
  --luci.sys.exec("echo apcli= %q > /tmp/tmp.log" % apcli)
  if string.find(apcli,"Disconnect") then
      linkstatus = "未连接"
  else
      linkstatus = "已连接"
  end
%>

<body>
    <div class="wrap">
        <div class="haier-logo">
            <img class="haier-logo-img" src="/luci-static/images/haier2_logo.png" alt="haierlogo">
        </div>
        <div class="mainbody">
            <div class='information'>
                <div class="information-logo">
                    <img class='information-logo-img' src="/luci-static/images/haier2_information_logo.png" alt="haierlogo">
                </div>
                <div class="border-bottom-pc"></div>
                <div class='information-list'>
                    <ul class='information-list-ul'>
                        <li>中继器版本：<%=version%></li>
                        <li>本机IP地址：<%=lanipaddr%></li>
                        <li>本机无线名称：<%=ssid%></li>
                        <li>中继名称：<%=apcssid%></li>
                        <li>中继状态：<%=linkstatus%></li>
                    </ul>
                </div>
            </div>
            <div class ="border-bottom" ></div>
            <div class="menu">
                <ul id="listUL">
                    <li class="menu_list1"><a class="haier2_menu_list1_a1" href="javascript:;"><img class="menu-list1-logo" src="/luci-static/images/haier2_menu_list1_a2_logo.png" alt="logo">&nbsp;&nbsp;设备管理</a></li>
                    <li class="menu_list2"><a data-indexo href="<%=luci.dispatcher.build_url("admin/home/setpassword")%>">&nbsp;修改密码</a></li>
                    <li class="menu_list2"><a href="<%=luci.dispatcher.build_url("admin/home/upgrade")%>">&nbsp;固件升级</a></li>
                    <li class="menu_list2"><a href="#">&nbsp;重启设备</a></li>
                    <li class="menu_list2"><a href="#">&nbsp;恢复出厂</a></li>
                    <li class="menu_list2"><a href="/cgi-bin/luci">&nbsp;退出登录</a></li>
                </ul>
                 <div class="submit_round">
                    <a href="<%=luci.dispatcher.build_url("admin/home/reperter")%>"><input class="submit_round_main" type="button" value="返回" /></a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function setBackImg(a) {
          var oLis=document.getElementsByClassName("menu_list2")
          for(var i= 0;i<oLis.length;i++) {
            oLis[i].style.backgroundImage="url(/luci-static/images/haier2_menu_list2_bg"+(i+1) + a +".png)";
          }
        }
        setBackImg("-n");
        $("#listUL .menu_list2:eq(2)").click(function() {
            if(confirm("重启设备将需要60s左右的时间,请确认是否要重启:")) {
              $.get("<%=luci.dispatcher.build_url("admin/home/Reboot")%>")
              setTimeout(checkUp, 1*50*1000)
            }
            return false;
        });
        $("#listUL .menu_list2:eq(3)").click(function() {
            if(confirm("恢复出厂将需要2分钟左右的时间,请确认是否要恢复出厂:")) {
              $.get("<%=luci.dispatcher.build_url("admin/home/ResetFactory")%>")
              setTimeout(checkUp, 2*50*1000)
            }
            return false;
        });
        function checkUp() { //检查是否重启完成若没有完成1秒钟之后再次检查,若完成跳转到登录页面
          var timer=null;
          clearTimeout(timer);
          $.get('http://192.168.88.1/cgi-bin/luci', function(a,b,xhr) {  
              if (xhr.status == 200 ) {
                  window.location.href = "http://192.168.88.1/cgi-bin/luci"
              }else {
                  timer = setTimeout(checkUp, 2000)
              }
          });
        }
    </script>
</body>
</html>