<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" media="screen and (max-width: 800px)" href="/luci-static/openwrt.org/cascade.css"/>
    <link rel="stylesheet" media="screen and (min-width: 800px)" href="/luci-static/openwrt.org/cascadepc.css"/>
    <script src="/luci-static/openwrt.org/jquery-3.0.0.js" ></script>
    <title></title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #266883;
        }
        tr,
        th {
            font-size: 12px;
            border: 1px solid #266883;
        }
        td {
            border: 1px solid #266883;
        }
    </style>
</head>
<body>
    <div class="container haier2_wrap">
        <div class="haier2_header">
            <img src="/luci-static/images/haier2_logo.png" alt="logo"/>
        </div>
        <div class="haier2_main">
            <p><span class="haier3_logo">在线终端</span></p>
            <div class="border_buttom"></div>
            <p></p>
            <table>
                <thead>
                    <tr>
                        <th>设备名称</th>
                        <th>IP地址</th>
                        <th>MAC地址</th>
                        <th>剩余时间</th>
                    </tr>
                </thead>
                <tbody id="leaseList">
                </tbody>
            </table>
            <p></p>
            <p class="haier4_form_p form_p"><a href="<%=luci.dispatcher.build_url("admin/home/mainpage")%>"><span>详细配置</span></a></p><div style="clear: both;"></div>
        </div>
    </div>
    <script>
        $(function(){
            getLease();
            setInterval(getLease, 1000*3)
        })
        function getLease() {
            $.get('<%=luci.dispatcher.build_url("admin/home/lease")%>', function(data) {
                var strTr = "";
                for (var i=0;i<data.length;i++) {
                    data[i].hostname = data[i].hostname.substr(0,10)
                    data[i].expires = Math.floor(data[i].expires/60) + "分"
                    strTr += "<tr><td>" + data[i].hostname + "~" +"</td><td>" + data[i].ipaddr + "</td><td>" + data[i].macaddr + "</td><td>" + data[i].expires + "</td></tr>"
                }
                strTr = strTr == "" ? "<tr style='text-align:center;line-height: 30px;'><td colspan='4'>" + "路由器当前没有连接到任何设备!" + "</td></tr>" : strTr;
                $("#leaseList").html(strTr);
            });
        }
    </script>
</body>
</html>