@charset "UTF-8";

#listUL {
	list-style: none;
	padding-top: 20px;
}
.menu_list1 {
	background: url(../images/haier2_menu_list1_a2_bg.png);
	background-size: 100% 100%; 
	background-repeat: no-repeat;
	background-position: left center;
	height: 35px;
	line-height: 35px;
	margin-top: -10px;
	text-align: center;
	box-shadow: 1px 1px 3px #bcbcbc;
}
.menu-list1-logo {
	vertical-align: middle;
	height: 20px;
}
.menu_list2 {
	background-repeat: no-repeat;
	background-size: 35px 35px;
	background-position: left center;
	height: 35px;
	line-height: 35px;
	border: 1px solid #266883;
	margin-top: 15px;
	text-align: center;
}
.submit_round_main {
	display: block;
	width: 50px;
	height: 50px;
	margin: auto;
	margin-top: 30px;
	background: none;
	border-top: 2px solid #acbdcd;
    border-bottom: 2px solid #acbdcd;
    border-radius: 25px;
    text-align: center;
    background: none;
    color: #266883;	
}

@media (min-width: 800px) {
	#listUL {
		padding: 20px;
		padding-top: 50px;
	}
}