<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" media="screen and (max-width: 800px)" href="/luci-static/openwrt.org/cascade.css"/>
    <link rel="stylesheet" media="screen and (min-width: 800px)" href="/luci-static/openwrt.org/cascadepc.css"/>
    <title></title>
</head>

<% 
  local uci = require("luci.model.uci").cursor()
  local lanipaddr = uci:get("network","lan","ipaddr")
%>

<body>
    <div class="container haier2_wrap">
        <div class="haier2_header">
            <img src="/luci-static/images/haier2_logo.png" alt="logo"/>
        </div>
        <div class="haier2_main">
            <p><span class="haier3_logo">本地IP地址</span></p>
            <div class="border_buttom"></div>
            <p class="form_p">*路由器本地IP地址</p>
            <form>
                <div class="haier3_input_group">
                <label style='font-size:13px;'>IP 地 址  <input type="text" name="ip" id="ip" class="txt" value="<%=lanipaddr%>" style="display: inline-block;min-width:52%;height:30px;border:1px solid #55879d;background:none;"> </label>
                </div>
                <p></p>
                <p class="form_p">*路由器本地IP地址设置后需重启才能生效</p>
                <div class="border_buttom"></div>
                <div class="haier3_button_group">
                    <input id='subLanIPSet' class="haier3_form_submit" type="button" value="确认"><a href="<%=luci.dispatcher.build_url("admin/home/mainpage")%>"><input class="haier3_form_reset" type="button" value="取消"></a>
                </div>
            </form>
        </div>
    </div>
    <script src="/luci-static/openwrt.org/jquery-3.0.0.js"></script>
    <script>
    function chpas() {//检验ip地址是否符合规则
        var re =  /^([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])$/;
        if (!re.test(arguments[0])) {
            return [false,"请输入正确的IP地址","#ip"]
        }else {
            return [true]
        }
    }
    $(function(){
        var IP;
        $("#subLanIPSet").click(function() {
            IP = $('#ip').val();
            var resut = chpas(IP);
            if (!resut[0]) {
                alert(resut[1]);
                $(resut[2]).focus();
                return;
            };
            $.post('<%=controller%>/admin/home/LanIPSet', {ip: IP}, function(data, textStatus, xhr) {
                if (data == 'success') {
                    if (confirm("IP设置成功重启后生效,重启过程需要一分钟,请确认是否要重启:")) {
                        $.get("<%=luci.dispatcher.build_url("admin/home/Reboot")%>");
                        setTimeout(checkUp, 1*50*1000)
                        $('#textTip').text('*正在重启请稍等...') 
                    };
                };
            });
        });
        function checkUp() { //检查是否重启完成若没有完成1秒钟之后再次检查,若完成跳转到登录页面
            var timer=null;
            clearTimeout(timer);
            window.location.href = '<%=luci.dispatcher.build_url("admin/home/lanip")%>'   
            timer = setTimeout(checkUp, 1000)
        }
    })
    </script>
</body>
</html>