<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" media="screen and (max-width: 800px)" href="/luci-static/openwrt.org/cascade.css"/>
    <link rel="stylesheet" media="screen and (min-width: 800px)" href="/luci-static/openwrt.org/cascadepc.css"/>
    <title></title>
    <style>
        #active {
            background-image:none; 
            background: #266783;
        }
        #active a {
            color: #fff;
        }
    </style>
</head>

<% 
    local uci = require("luci.model.uci").cursor()
    proto = uci:get("network","wan","proto")
    username = uci:get("network","wan","username")
    password = uci:get("network","wan","password")
%>

<body>
<div class="container haier2_wrap">
    <div class="haier2_header">
        <img src="/luci-static/images/haier2_logo.png" alt="logo"/>
    </div>
    <div class="haier2_main">
        <p><span>上网设置</span></p>
        <div class="border_buttom"></div>
        <ul class="haier4_list">
            <li id="active"><a href="<%=luci.dispatcher.build_url("admin/home/pppoeset")%>">&#x5BBD;&#x5E26;&#x62E8;&#x53F7;</a></li>
            <li><a href="<%=luci.dispatcher.build_url("admin/home/staticset")%>">&#x9759;&#x6001;IP</a></li>
            <li><a href="<%=luci.dispatcher.build_url("admin/home/dhcpset")%>">&#x52A8;&#x6001;IP</a></li>
            <li><a href="<%=luci.dispatcher.build_url("admin/home/repset")%>">&#x65E0;&#x7EBF;&#x4E2D;&#x7EE7;</a></li>
        </ul>
        <div style="clear: both;"></div>
        <form onsubmit="return false">
            <br/>
            <p class="form_p">*&#x8BF7;&#x8F93;&#x5165;&#x8FD0;&#x8425;&#x5546;&#x7ED9;&#x60A8;&#x7684;&#x5BBD;&#x5E26;&#x4E0A;&#x7F51;&#x8D26;&#x53F7;&#x53CA;&#x5BC6;&#x7801;,&#x5982;&#x6709;&#x9057;&#x5FD8;,&#x53EF;&#x62E8;&#x6253;&#x8FD0;&#x8425;&#x5546;&#x7535;&#x8BDD;&#x627E;&#x56DE;</p>
            <div class="haier3_input_group">
                <label class="input" style="display: inline-block;border:none;padding-left:0;"><span style='width:70px;font-size:14px;display:inline-block;'>宽带账号</span><input required maxlength='32' style="display: inline-block;min-width:52%;height:30px;border:1px solid #55879d;background:none;padding-left:10px;" type="text" placeholder="请输入宽带账号"name="account" class="form-control" id="account" value="<%=username%>"/></label>
                <label class="input" style="display: inline-block;border:none;padding-left:0;"><span style='width:70px;font-size:14px;display:inline-block;'>宽带密码</span><input required minlength='8' maxlength='32' style="display: inline-block;min-width:52%;height:30px;border:1px solid #55879d;background:none;padding-left:10px;" type="text" placeholder="请输入宽带密码"name="password" class="form-control" id="password" value="<%=password%>"/></label>
            </div>
            <br/>
            
            <p class="haier4_form_p form_p"><a href="<%=luci.dispatcher.build_url("admin/home/mainpage")%>"><span>&#x8BE6;&#x7EC6;&#x914D;&#x7F6E;</span></a></p><div style="clear: both;"></div>
            <div class="submit_round">
                <input id='subPppo' class="submit_round_main" type="submit" value="&#x786E;&#x8BA4;" />
            </div>
        </form>
    </div>
</div>
    <script src="/luci-static/openwrt.org/jquery-3.0.0.js"></script>
    <script>
        function chpas() {//检验账号密码长度是否符合条件
            if (arguments.length == 0) { 
                return false;
            };
            for (var i =0;i< arguments.length;i++) {
                if (arguments[i].length <= 0 || arguments[i].length >32) {
                    return false;
                }
            }
            if(arguments[1].length<8) {return false;}
            return true;
        }
        $(function() {
            $('#subPppo').click(function() {
                if (!chpas($("#account").val(),$("#password").val())) {
                    alert('请输入8到32位长度的密码');
                    return;
                };
                $.post('<%=controller%>/admin/home/Pppoe_Set', 
                    {
                        account: $("#account").val(),
                        password: $("#password").val()
                    }, function(data, textStatus, xhr) {
                    if (data == 'success') {
                        if (confirm('设置成功,重启后才能生效,重启过程大概需要1分钟,确认是否现在重启')) {
                            $.get("<%=luci.dispatcher.build_url("admin/home/Reboot")%>");
                            setTimeout(checkUp, 1*50*1000);
                        };
                    };
                });
            });
            function checkUp() { //检查是否重启完成若没有完成1秒钟之后再次检查,若完成跳转到登录页面
              var timer=null;
              clearTimeout(timer);
              $.get('http://192.168.88.1/cgi-bin/luci', function(a,b,xhr) {  
                  if (xhr.status == 200 ) {
                      window.location.href = "http://192.168.88.1/cgi-bin/luci"
                  }else {
                      timer = setTimeout(checkUp, 2000)
                  }
              });
            }    
        })
    </script>
</body>
</html>