<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/luci-static/openwrt.org/cascade.css"/>
    <script src="/luci-static/openwrt.org/jquery-3.0.0.js"></script>
    <title></title>
    <style>
        #active {
            background: #266783;
        }
        #active a {
            color: #fff;
        }
    </style>
</head>


<% 
    local uci = require("luci.model.uci").cursor()

    local ssid = uci:get_first("wireless","wifi-iface","ssid") or "HappyHome"                                                                              
    local key = uci:get_first("wireless","wifi-iface","key") 

    mode= uci:get("network","wan","mode") or "dhcp"

    curSSID = uci:get("wireless","mt7620","ApCliSsid")
    curPassword = uci:get("wireless","mt7620","ApCliWPAPSK")
%>

<body>
<div class="container haier2_wrap">
    <div class="haier2_header">
        <img src="/luci-static/images/haier2_logo.png" alt="logo"/>
    </div>
    <div class="haier2_main">
        <p><span>网络设置</span></p>
        <div class="border_buttom"></div>
        <ul class="haier4_list">
            <li><a href="<%=luci.dispatcher.build_url("admin/home/quicksetup")%>">宽带拨号</a></li>
            <li><a href="<%=luci.dispatcher.build_url("admin/home/staticaddress")%>">静态IP</a></li>
            <li><a href="<%=luci.dispatcher.build_url("admin/home/dynamicaddress")%>">动态IP</a></li>
            <li id="active"><a href="<%=luci.dispatcher.build_url("admin/home/reperter")%>">无线中继</a></li>
        </ul>
        <div style="clear: both;"></div> 
        <form>
            <div class="form_p">
                <div class="haier7_zhongji">
                    <div class="haier3_input_group">
                        <div  class="input" style="display: inline-block;border:none;padding-left:0;"><label>网络名称
                        <select id="wifiName" name="wifiName" style="display: inline-block;min-width:120px;height:20px;" value="linkword"></select></label>
                        <span id="setZhongji">重新扫描</span>
                        </div>
                        <label class="input" style="display: inline-block;border:none;padding-left:0;">网络密码
                        <input type="password" name="netpassword"id="netpassword" style="display: inline-block;min-width:120px;height:20px;"></label>
                        <label><input type="checkbox" id="showPs">显示密码</label>
                    </div>
                    <div class="haier3_input_group">
                        <p class="form_p">状态:<label id="wifi_scan" style="margin-right:5px"></label><label id="connectError" style="margin-right:5px"></label></p>
                    </div>
                </div>
            </div>
            <p class="form_p">*请设置您的无线扩展网络<a href="<%=luci.dispatcher.build_url("admin/home/mainpage")%>"><span class="haier4_form_p">详细配置</span></a><br style="clear: both;"/></p>
            <div class="haier3_input_group">
                <input type="text" placeholder="请输入无线账号" name="ssid_24g" value="<%=ssid%>" id="ssid_24g"/>
                <input type="text" placeholder="请输入无线密码" name="key_24g" id="key_24g" value="<%=key%>"/>
            </div>           
            <div class="submit_round">
                <input class="submit_round_main" id="connect" type="button" value="确认" />
            </div>
        </form>
    </div>
</div>
<script>
    var currWifi;//用于保存扫描到的所有wifi
    $(wifi_scan);
    $("#setZhongji").click(function(){wifi_scan()});
    function wifi_scan() { //扫描wifi
        var errorTimeout = null;
        if (errorTimeout) {clearTimeout(errorTimeout)};
        errorTimeout = setTimeout(function(){
            $("#wifi_scan").text("扫描失败").css('color', 'red');
        },5000);
        $.get('<%=luci.dispatcher.build_url("admin", "home")%>/wifiScan', function(data) {
            if (!!data) {
                currWifi = data //将扫到的所有wifi保存到全局变量currWifi
                clearTimeout(errorTimeout)
            };
            var wifiList;
            for(var i = 0;i<data.length;i++) {
                wifiList += "<option " + "id=option" + i + " value='"+data[i].ssid+"'>"+data[i].ssid+"</option>"
            }
            $("#wifiName").html(wifiList);
            var maxSignal = data[0].signal;
            for(var i=0;i<data.length;i++) {
                if (maxSignal<data[i].signal) maxSignal = data[i].signal;
            }
            for(var i=0;i<data.length;i++) {
                if (maxSignal=data[i].signal) $("#option" + i).attr('selected', 'selected');;
            }
            $("#wifi_scan").text("").css('color', '#266783');
        });
    }
    $("#connect").click(function() {
        connect(currWifi);

    });
    function connect(e) {
        var bssidStr = "",encryptionStr = "",channelStr = "",groupCiphersStr = "";
        if ($("#wifi_scan").text() == "扫描失败"|| typeof(e) == "undefined") { //确认当前已经扫描到了wifi
            $("#wifi_scan").text("没有扫描到WIFI,请点击重新扫描后重试").css("color","red")
            return;
        };
        for (var i = 0;i < e.length;i++) {     //遍历出当前的wifi
            if (e[i].ssid == $("#wifiName").val()) {
                //保存当前wifi的信息用于发送登录请求
                bssidStr = e[i].bssid;
                if (e[i].encryption.wep) {
                    encryptionStr = "WEP";
                }else if(e[i].encryption.wpa>0) {
                    if (e[i].encryption.wpa ==2||e[i].encryption.wpa==3) {
                        encryptionStr = "WPA2" + e[i].encryption.auth_suites.join("")
                    }else {
                        encryptionStr = "WPA" + e[i].encryption.auth_suites.join("")
                    }
                }else if (e[i].encryption.enabled) {
                    encryptionStr = "UNKNOWN";
                }else {
                    encryptionStr = "OPEN";
                }
                channelStr = e[i].channel;
                if (typeof(e[i].encryption.group_ciphers) == "undefined" || e[i].encryption.group_ciphers == "") {
                    if (e[i].encryption.wep) {
                        groupCiphersStr = "WEP";
                    }else {
                        groupCiphersStr = "";
                    }
                }else if (e[i].encryption.group_ciphers instanceof Array) {
                    groupCiphersStr = e[i].encryption.group_ciphers.join("");
                };
            };
        }
        $.post('<%=luci.dispatcher.build_url("admin/home/repSet")%>',
            {
                wifiName: $("#wifiName").val(),
                netpassword: $("#netpassword").val(),
                bssid: bssidStr,
                encryption: encryptionStr,
                channel: channelStr,
                groupCiphers: groupCiphersStr,
                ssid_24g: $("#ssid_24g").val(),
                key_24g: $("#key_24g").val(),
            },
            function(data, textStatus, xhr) {

        });
    }
    $("#showPs").click(function() {
        if (this.checked) {
            $("#netpassword").attr('type', 'text');
        }else {
            $("#netpassword").attr('type', 'password');
        }
    });

</script>
</body> 
</html>