<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" media="screen and (max-width: 800px)" href="/luci-static/openwrt.org/cascade.css"/>
    <link rel="stylesheet" media="screen and (min-width: 800px)" href="/luci-static/openwrt.org/cascadepc.css"/>
    <script src="/luci-static/openwrt.org/jquery-3.0.0.js"></script>
    <title></title>
    <style>
        #active {
            background: #266783;
        }
        #active a {
            color: #fff;
        }
        #setZhongji {
            border: 1px solid #55879d;
            border-radius: 4px;
            height: 29px;
            display: inline-block;
            padding: 0px 8px;
        }
        #pas {
            opacity: 0;
            transition: opacity 1s;
            -moz-transition: opacity 1s; /* Firefox 4 */
            -webkit-transition: opacity 1s; /* Safari 和 Chrome */
            -o-transition: opacity 1s;
        }
    </style>
</head>


<% 
    local uci = require("luci.model.uci").cursor()

    local ssid = uci:get_first("wireless","wifi-iface","ssid") or "HappyHome"                                                                              
    local key = uci:get_first("wireless","wifi-iface","key") 
    local lanipaddr = uci:get("network","lan","ipaddr")

    mode= uci:get("network","wan","mode") or "dhcp"

    curSSID = uci:get("wireless","mt7620","ApCliSsid")
    curPassword = uci:get("wireless","mt7620","ApCliWPAPSK")
%>

<body>

<div class="container haier2_wrap">
    <div class="haier2_header">
        <img src="/luci-static/images/haier2_logo.png" alt="logo"/>
    </div>
    <div class="haier2_main">
        <p><span>快速设置</span></p>
        <div class="border_buttom"></div>
        <ul class="haier4_list">
            <li><a href="<%=luci.dispatcher.build_url("admin/home/quicksetup")%>">宽带拨号</a></li>
            <li><a href="<%=luci.dispatcher.build_url("admin/home/staticaddress")%>">静态IP</a></li>
            <li><a href="<%=luci.dispatcher.build_url("admin/home/dynamicaddress")%>">动态IP</a></li>
            <li id="active"><a href="<%=luci.dispatcher.build_url("admin/home/reperter")%>">无线中继</a></li>
        </ul>
        <div style="clear: both;"></div> 
        <form onsubmit="return false">
            <div class="form_p">
                <div class="haier7_zhongji">
                    <div class="haier3_input_group">
                        <div  class="input" style="display: inline-block;border:none;padding-left:0;"><label>中继名称
                        <select id="wifiName" name="wifiName"  value="linkword"></select></label>
                        <span id="setZhongji">重新扫描</span>
                        </div>
                        <label class="input" style="display: inline-block;border:none;padding-left:0;">中继密码
                        <input type="password" name="netpassword"id="netpassword"><span id="tip">?</span></label>
                        <p></p>
                        <label><input type="checkbox" id="showPs">显示密码</label>
                    </div>
                    <div class="haier3_input_group">
                        <p class="form_p">&nbsp;<label id="wifi_scan" style="margin-right:5px"></label><label id="connectError" style="margin-right:5px"></label></p>
                    </div>
                </div>
            </div>

            <label><input type="checkbox" id="setPas" checked>*本地无线的名称和密码与目标无线网络一致</label>
            <div class="haier3_input_group" id='pas'>
                <br>
                <p class='form_p' style='text-align:center;'>手工输入WIFI名称和密码</p>
                <input type="text" placeholder="请输入无线名称" name="ssid_24g"  id="ssid_24g"/>
                <input type="password" placeholder="请输入无线密码" name="key_24g" id="key_24g"/>
            </div>       
            <p class="haier4_form_p form_p"><a href="<%=luci.dispatcher.build_url("admin/home/mainpage")%>"><span>详细配置</span></a></p><div style="clear: both;"></div>
            <div class="submit_round">
                <input class="submit_round_main" id="connect" type="submit" value="确认" />
            </div>
        </form>
    </div>
</div>
<script>
    function chpas() {//检验账号密码长度是否符合条件
        if (!arguments[0]) {
            return [false,"请选择可用的WIFI"]
        }else {
            if(arguments[2].length<=0 || arguments[2].length>32) {
                return [false,"请输入32位以下长度的无线名称","#ssid_24g"]
            }else if (arguments[3].length<8 || arguments[3].length>32) {
                return [false,"请输入8到32位长度的无线密码","#key_24g"]
            }else {
                return [true]
            }
        }
    }
    var currWifi;//用于保存扫描到的所有wifi
    var wepWifi;//用于保存加密方式为wep的wifi
    $(wifi_scan);
    $("#setZhongji").click(function(){wifi_scan()});
    function wifi_scan() { //扫描wifi
        var errorTimeout = null;
        if (errorTimeout) {clearTimeout(errorTimeout)};
        errorTimeout = setTimeout(function(){
            $("#wifi_scan").text("扫描失败").css('color', 'red');
        },5000);
        $.get('<%=luci.dispatcher.build_url("admin", "home")%>/wifiScan', function(data) {
            if (!!data) {
                currWifi = data //将扫到的所有wifi保存到全局变量currWifi
                clearTimeout(errorTimeout)
            };
            var wifiList;
            for(var i = 0;i<data.length;i++) {
                wifiList += "<option " + "id=option" + i + " value='"+data[i].ssid+"'>"+data[i].ssid+"</option>"
            }
            $("#wifiName").html(wifiList);
            var maxSignal = data[0].signal;
            for(var i=0;i<data.length;i++) {
                if (maxSignal<data[i].signal) maxSignal = data[i].signal;
            }
            for(var i=0;i<data.length;i++) {
                if (maxSignal=data[i].signal) $("#option" + i).attr('selected', 'selected');;
            }
            $("#wifi_scan").text("").css('color', '#266783');
        });
    }
    $("#connect").click(function() {
        connect(currWifi);

    });
    function connect(e) {  //点击确定触发中继功能
        var bssidStr = "",encryptionStr = "",channelStr = "",groupCiphersStr = "";
        if ($("#wifi_scan").text() == "扫描失败"|| typeof(e) == "undefined") { //确认当前已经扫描到了wifi
            $("#wifi_scan").text("没有扫描到WIFI,请点击重新扫描后重试").css("color","red")
            return;
        };
        for (var i = 0;i < e.length;i++) {     //遍历出当前的wifi
            if (e[i].ssid == $("#wifiName").val()) {
                //保存当前wifi的信息用于发送登录请求
                bssidStr = e[i].bssid;
                if (e[i].encryption.wep) {
                    encryptionStr = "WEP";
                }else if(e[i].encryption.wpa>0) {
                    if (e[i].encryption.wpa ==2||e[i].encryption.wpa==3) {
                        encryptionStr = "WPA2" + e[i].encryption.auth_suites.join("")
                    }else {
                        encryptionStr = "WPA" + e[i].encryption.auth_suites.join("")
                    }
                }else if (e[i].encryption.enabled) {
                    encryptionStr = "UNKNOWN";
                }else {
                    encryptionStr = "OPEN";
                }
                channelStr = e[i].channel;
                if (typeof(e[i].encryption.group_ciphers) == "undefined" || e[i].encryption.group_ciphers == "") {
                    if (e[i].encryption.wep) {
                        groupCiphersStr = "WEP";
                    }else {
                        groupCiphersStr = "";
                    }
                }else if (e[i].encryption.group_ciphers instanceof Array) {
                    groupCiphersStr = e[i].encryption.group_ciphers.join("");
                };
            };
        }
        //发送前的验证
       if ($("#setPas")[0].checked && ($("#netpassword").val().length <8 || $("#netpassword").val().length >32)){
            alert("本机密码必须为8到32位请手工输入");
            $("#setPas").click();
            return;
        }
        var resut = chpas($("#wifiName").val(),$("#netpassword").val(),$("#ssid_24g").val(),$("#key_24g").val());
        if (encryptionStr != "OPEN") {
            resut = (!$("#netpassword").val()) ? [false,"当前WIFI需要输入正确的中继密码","#netpassword"] :resut;
        };
        if (!resut[0]) {
            alert(resut[1]);
            if (resut[2]) {
                $(resut[2]).focus();
            };
            return;
        };
        if (encryptionStr == "WEP") {//不支持WEP加密方式的WIFI
            alert("中继不支持WEP加密方式的WIFI，请使用其他WIFI。")
            return;
        };
        $.post('<%=luci.dispatcher.build_url("admin/home/Qui_REP_Set")%>',  //数据无误发送POST请求
            {
                wifiName: $("#wifiName").val(),
                netpassword: $("#netpassword").val(),
                bssid: bssidStr,
                encryption: encryptionStr,
                channel: channelStr,
                groupCiphers: groupCiphersStr,
                ssid_24g: $("#ssid_24g").val(),
                key_24g: $("#key_24g").val(),
            },
            function(data, textStatus, xhr) {  //请求发送完毕重启生效
                if (data == 'success') {
                    if (confirm('设置成功,重启后才能生效,重启过程大概需要1分钟,确认是否现在重启')) {
                        $.get("<%=luci.dispatcher.build_url("admin/home/Reboot")%>");
                        setTimeout(checkUp, 1*50*1000);
                    };
                };
        });
    }
    $("#showPs").click(function() {
        if (this.checked) {
            $("#netpassword").attr('type', 'text');
        }else {
            $("#netpassword").attr('type', 'password');
        }
    });
    $("#netpassword").bind('input propertychange', function() {
        $("#ssid_24g").val($("#wifiName").val());
        $("#key_24g").val($("#netpassword").val());
    });
    $("#wifiName").bind('input propertychange', function() {
        $("#ssid_24g").val($("#wifiName").val());
        $("#key_24g").val($("#netpassword").val());
    });
    $("#setPas").click(function() {
        if (!this.checked) {
            $("#pas").css('opacity', '1');
            $("#ssid_24g").val(''),
            $("#key_24g").val(''),
            $("#netpassword").unbind();
            $("#wifiName").unbind();
        }else {
            $("#pas").css('opacity', '0');
            $("#ssid_24g").val($("#wifiName").val());
            $("#key_24g").val($("#netpassword").val());
            $("#netpassword").bind('input propertychange', function() {
                $("#key_24g").val($("#netpassword").val());
                $("#ssid_24g").val($("#wifiName").val());
            });
            $("#wifiName").bind('input propertychange', function() {
                $("#key_24g").val($("#netpassword").val());
                $("#ssid_24g").val($("#wifiName").val());
            });
        };
    });
    function checkUp() { //检查是否重启完成若没有完成1秒钟之后再次检查,若完成跳转到登录页面
              var timer=null;
              clearTimeout(timer);
              $.get("<%=luci.dispatcher.build_url("admin/home/reperter")%>", function(a,b,xhr) {  
                  if (xhr.status == 200 ) {
                      window.location.href = "<%=luci.dispatcher.build_url("admin/home/reperter")%>"
                  }else {
                      timer = setTimeout(checkUp, 2000)
                  }
              });
            }
</script>
<script src="/luci-static/openwrt.org/j.js"></script>
<script>
    $(function(){
        J('#tip').click(function(){
            J_alert("无线中继是通过用本机连接和转发其他路由器无线网络的方法,实现无线信号放大功能。请在“中继名称”里选择要连接的无线网络名称,并在“中继密码”里面输入要连接的无线网络密码。", "帮助")
        });
    });
</script>
</body> 
</html>