<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" media="screen and (max-width: 800px)" href="/luci-static/openwrt.org/cascade.css"/>
    <link rel="stylesheet" media="screen and (min-width: 800px)" href="/luci-static/openwrt.org/cascadepc.css"/>
    <title></title>
</head>
<body>
<div class="container haier2_wrap">
    <div class="haier2_header">
        <img src="/luci-static/images/haier2_logo.png" alt="logo"/>
    </div>
    <div class="haier2_main">
        <p><span class="haier3_logo">管理密码设置</span></p>
        <div class="border_buttom"></div>
        <p>*请设置您的路由器管理密码</p>
        <form onsubmit="return false">
            <div class="haier3_input_group">
                <input placeholder="请输入密码" type="password" name="newPassword" id="newPassword">
                <p></p>
                <input placeholder="请再次输入密码" type="password" name="newPassword1" id="newPassword1">
            </div>
            <p></p>
            <br />
            <p></p>
            <div class="border_buttom"></div>
            <div class="haier3_button_group">
                <a href="<%=luci.dispatcher.build_url("admin/home/mainpage")%>"><input class="haier3_form_reset" type="button" value="取消"></a><input class="haier3_form_submit" id="sub" type="submit" value="确认">
            </div>
        </form>
    </div>
</div>
<script src="/luci-static/openwrt.org/jquery-3.0.0.js"></script>
    <script>
        function chpas() {//检验账号密码长度是否符合条件
            if (arguments[0].length<8 || arguments[0].length>32) {
                return [false,"请输入8到32位长度的密码","#newPassword"]
            }else if (arguments[1].length<8 || arguments[1].length>32) {
                return [false,"请输入8到32位长度的密码","#newPassword1"]
            }else if (arguments[0] != arguments[1]) {
                return [false,"两次输入的密码不一致","#newPassword"]
            }else {
                return [true]
            }
        }
        $(function() {
            $('#sub').click(function() {
                var resut = chpas(
                                $("#newPassword").val(),
                                $("#newPassword1").val()
                            )
                if (!resut[0]) {
                    alert(resut[1]);
                    $(resut[2]).focus();
                    return;
                }; 
                $.post('<%=controller%>/admin/home/passwordChange', 
                    {
                        newPassword: $("#newPassword").val(),
                        newPassword1: $("#newPassword1").val(),
                    }, function(data, textStatus, xhr) {
                    if (data == 'success') {
                        if (confirm('设置成功,重启后才能生效,重启过程大概需要1分钟,确认是否现在重启')) {
                            $.get("<%=luci.dispatcher.build_url("admin/home/Reboot")%>");
                            setTimeout(checkUp, 1*50*1000);
                        };
                    };
                });
            });
            function checkUp() { //检查是否重启完成若没有完成1秒钟之后再次检查,若完成跳转到登录页面
              var timer=null;
              clearTimeout(timer);
              $.get('<%=luci.dispatcher.build_url("admin/home/setpassword")%>', function(a,b,xhr) {  
                  if (xhr.status == 200 ) {
                      window.location.href = "<%=luci.dispatcher.build_url("admin/home/setpassword")%>"
                  }else {
                      timer = setTimeout(checkUp, 2000)
                  }
              });
            }    
        })
    </script>
</body>
</html>