<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/luci-static/openwrt.org/cascade.css"/>
    <title></title>
</head>
<body>
<div class="container haier2_wrap">
    <div class="haier2_header">
        <img src="/luci-static/images/haier2_logo.png" alt="logo"/>
    </div>
    <div class="haier2_main">
        <p><span class="haier3_logo">管理密码设置</span></p>
        <div class="border_buttom"></div>
        <p>*请设置您的路由器管理密码</p>
        <form method="post" action="<%=controller%>/admin/home/passwordChange">
            <div class="haier3_input_group">
                <input type="text" placeholder="请输入密码" type="password" name="newPassword" id="newPassword">
                <p></p>
                <input type="text" placeholder="请再次输入密码" type="password" name="newPassword1" id="newPassword1">
            </div>
            <p></p>
            <br />
            <p></p>
            <div class="border_buttom"></div>
            <div class="haier3_button_group">
                <a href="<%=luci.dispatcher.build_url("admin/home/mainpage")%>"><input class="haier3_form_reset" type="button" value="取消"></a><input class="haier3_form_submit" type="submit" value="确认">
            </div>
        </form>
    </div>
</div>

</body>
</html>