<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" media="screen and (max-width: 800px)" href="/luci-static/openwrt.org/cascade.css"/>
    <link rel="stylesheet" media="screen and (min-width: 800px)" href="/luci-static/openwrt.org/cascadepc.css"/>
    <title></title>
    <style>
        #active {
            background: #266783;
        }
        #active a {
            color: #fff;
        }
    </style>
</head>

<% 
    local uci = require("luci.model.uci").cursor()
    local ipaddr = uci:get("network","wan","ipaddr") or ""
    local netmask = uci:get("network","wan","netmask") or ""
    local gateway = uci:get("network","wan","gateway") or ""
    local dns = uci:get("network","wan","dns") or ""
%>

<body>
<div class="container haier2_wrap">
    <div class="haier2_header">
        <img src="/luci-static/images/haier2_logo.png" alt="logo"/>
    </div>
    <div class="haier2_main">
        <p><span>上网设置</span></p>
        <div class="border_buttom"></div>
        <ul class="haier4_list">
            <li><a href="<%=luci.dispatcher.build_url("admin/home/pppoeset")%>">宽带拨号</a></li>
            <li id="active"><a href="<%=luci.dispatcher.build_url("admin/home/staticset")%>">静态IP</a></li>
            <li><a href="<%=luci.dispatcher.build_url("admin/home/dhcpset")%>">动态IP</a></li>
            <li><a href="<%=luci.dispatcher.build_url("admin/home/repset")%>">无线中继</a></li>
        </ul>
        <div style="clear: both;"></div>
        <form onsubmit="return false">
            <br/>
            <p class="form_p">*请输入运营商给您的IP、子网掩码等信息。如有遗忘,可拨打运营商电话找回</p>
            <div class="haier3_input_group">
                <label class="input" style="display: inline-block;border:none;padding-left:0;"><span style='width:70px;font-size:14px;display:inline-block;'>IP地址</span><input  style="display: inline-block;min-width:52%;height:30px;border:1px solid #55879d;background:none;padding-left:10px;" type="text" placeholder="请输入您的IP地址" name="ipaddr" id="ipaddr" value="<%=ipaddr%>"/></label>
                <label class="input" style="display: inline-block;border:none;padding-left:0;"><span style='width:70px;font-size:14px;display:inline-block;'>子网掩码</span><input  style="display: inline-block;min-width:52%;height:30px;border:1px solid #55879d;background:none;padding-left:10px;" type="text" placeholder="请输入您的子网掩码" name="netmask" id="netmask" list="netmasks" value="<%=netmask%>"/></label>
                <datalist id="netmasks">
                  <option value="255.255.255.0">
                  <option value="255.255.0.0">
                  <option value="255.0.0.0">
                </datalist>
                <label class="input" style="display: inline-block;border:none;padding-left:0;"><span style='width:70px;font-size:14px;display:inline-block;'>默认网关</span><input  style="display: inline-block;min-width:52%;height:30px;border:1px solid #55879d;background:none;padding-left:10px;" type="text" placeholder="请输入您的默认网关" name="gateway" id="gateway" value="<%=gateway%>"/></label>
                <label class="input" style="display: inline-block;border:none;padding-left:0;"><span style='width:70px;font-size:14px;display:inline-block;'>首选DNS</span><input  style="display: inline-block;min-width:52%;height:30px;border:1px solid #55879d;background:none;padding-left:10px;" type="text" placeholder="请输入您的DNS（首选)" name="dns" id="dns" value="<%=dns%>"/></label>
            </div>
            <br/>
            <p class="haier4_form_p form_p"><a href="<%=luci.dispatcher.build_url("admin/home/mainpage")%>"><span>详细配置</span></a></p><div style="clear: both;"></div>
            <div class="submit_round">
                <input class="submit_round_main" id='sub' type="submit" value="确认" />
            </div>
        </form>
    </div>
</div>
<script src="/luci-static/openwrt.org/jquery-3.0.0.js"></script>
    <script>
        function chpas() {//检验账号密码长度是否符合条件
             var re =  /^([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.([0-9]|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])$/;
            if (!re.test(arguments[0])) {
                return [false,"请输入正确的IP地址",'#ipaddr']
            }else if (!re.test(arguments[1])) {
                return [false,"请输入正确的子网掩码",'#netmask']
            }else if (!re.test(arguments[2])) {
                return [false,"请输入正确的网关",'#gateway']
            }else if (!re.test(arguments[3])) {
                return [false,"请输入正确的DNS",'#dns']
            }else {
                return [true]
            }
        }
        $(function() {
            $('#sub').click(function() {
                var resut = chpas(
                                $("#ipaddr").val(),
                                $("#netmask").val(),
                                $("#gateway").val(),
                                $("#dns").val()
                            )
                if (!resut[0]) {
                    alert(resut[1]);
                    $(resut[2]).focus();
                    return;
                }; 
                $.post('<%=controller%>/admin/home/Static_Set', 
                    {
                        ipaddr: $("#ipaddr").val(),
                        netmask: $("#netmask").val(),
                        gateway: $("#gateway").val(),
                        dns: $("#dns").val()
                    }, function(data, textStatus, xhr) {
                    if (data == 'success') {
                        if (confirm('设置成功,重启后才能生效,重启过程大概需要1分钟,确认是否现在重启')) {
                            $.get("<%=luci.dispatcher.build_url("admin/home/Reboot")%>");
                            setTimeout(checkUp, 1*50*1000);
                        };
                    };
                });
            });
            function checkUp() { //检查是否重启完成若没有完成1秒钟之后再次检查,若完成跳转到登录页面
              var timer=null;
              clearTimeout(timer);
              $.get('<%=luci.dispatcher.build_url("admin/home/staticset")%>', function(a,b,xhr) {  
                  if (xhr.status == 200 ) {
                      window.location.href = "<%=luci.dispatcher.build_url("admin/home/staticset")%>"
                  }else {
                      timer = setTimeout(checkUp, 2000)
                  }
              });
            }    
        })
    </script>
</body>
</html>