@charset "utf-8";

html {width: 100%;height: 100%;min-height:660px;position: relative;}
body {
    min-height: 100%;
}
html,body,div,img,a,input,a,ul,li {
    padding: 0;
    margin: 0;
    border: 0;
    color: #266883;
}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;font-size: 14px;font-weight: bold;}
body {
    background: url("../images/haier2_body_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.container {
    margin: 0 auto;
    width: 94%;
    max-width: 600px;
}
.border_buttom { 
    border-top: 1px solid #fff;
    border-bottom: 1px solid #55879d;
}
.haier1_logo_01 {
    width: 220px;
}
.haier1_header {
    text-align: center;
    margin-top: 110px;
    padding: 10px 0;
}
.haier1_header p {
    margin-top: 10px;
}
.haier1_form_box {
    width: 330px;
    margin: 20px auto 50px;
    background: #d2d4db;
    border: 2px solid #fff;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.haier1_form_box p {
    margin-bottom: 10px;
}
.haier1_form_box input {
    margin: 10px 0;
    background-color:rgba(0,0,0,0);
    border-left: 1px solid #b4c5d0;
    border-top: 1px solid #b4c5d0;
    border-bottom: 1px solid #b4c5d0;
}
.haier1_pw {
    width: 258px;/*响应*/
    height: 30px;
    text-indent: 42px;
    background: #dfe0e7;
    background-image: url("../images/haier1_form_img.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.haier1_input_group {
    vertical-align: center;
    line-height: 29px;
    line-height: 30px\0;
}
@-moz-document url-prefix() {
    .haier1_input_group {
        line-height: 30px;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .haier1_input_group {
        line-height: 26px;
    }
}
.haier1_pw_r {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../images/haier1_02_03.png");
    background-color: #d2d4db;
    border-right: 1px solid #b4c5d0;
    border-top: 1px solid #b4c5d0;
    border-bottom: 1px solid #b4c5d0;
}
.haier1_form {
    width: 300px;
    margin: 10px auto;

}
.haier1_sbm {
    width: 288px;
    height: 30px;
    border-right: 1px solid #b4c5d0;
}

@media(max-width: 350px) {
    .haier1_header {
        margin-top: 100px;
    }
    .haier1_form_box {
        width: 290px;
    }
    .haier1_form {
        width: 280px;
    }
    .haier1_pw {
        width: 248px;

    }
    .haier1_sbm {
        width: 278px;
    }
}
.haier2_wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);		/* IE 9 */
    -webkit-transform: translate(-50%,-50%);	/* Safari and Chrome */
    -o-transform: translate(-50%,-50%);		/* Opera */
    -moz-transform: translate(-50%,-50%);
}
.haier2_header>img {
    width: 49px;
    height: 16px;
}
.haier2_main {
    background: url("../images/haier2_wrap_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 500px;
    margin-top: 14px;
    padding: 22px;
}
.haier2_information {
    height: 30%;
}
.haier2_menu {
    height: 70%;
}
.haier2_information {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -webkit-box-flex;
}
.haier2_information_logo {
    width: 65px;
    height: 65px;
    margin-top: 4px;
}
.haier2_information_logo img {
    width: 100%;
    height: 100%;
}
.haier2_information_list {
    -webkit-box-flex: 1;      
    -moz-box-flex: 1;
    -webkit-flex: 1;         
    -ms-flex: 1; 
    flex: 1;
}
.haier2_information_list ul {
    list-style: none;
    margin-top: 4px;
    margin-left: 40px;
    font-size: 13px;
}
.haier2_menu ul {
    width: 100%;
    padding-left: 0;
    overflow: hidden;
}
.haier2_menu ul li {
    list-style-type: none;
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
}
.haier2_menu ul li a {
    line-height: 35px;
}
.haier2_menu ul li .haier2_menu_list1_a1 {
    display: inline-block;
    width: 45%;
    height: 25px;
    line-height: 25px;
    background: url("../images/haier2_menu_list1_a1_bg.png");
    background-size: 100% 100%;
}
.haier2_menu ul li .haier2_menu_list1_a2 {
    display: inline-block;
    width: 55%;
    height: 25px;
    line-height: 25px;
    background: url("../images/haier2_menu_list1_a2_bg.png");
    background-size: 100% 100%;
}
.haier2_menu_list2 {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    border: 1px solid #266883;
    /*background-size: auto 100%;*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}
.haier2_menu_list2 a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
/*无线设置弹出层*/
.haier3_mask {
    position: absolute;
    background-color: rgba(42,51,62,.6);
    width: 100%;
    height: 100%;
}
/* haier3*/
.haier3_main {
    height: 200px;
    margin: 25px 15px 0px;
    font-size: 12px;
}
.haier3_main span {
    font-size: 14px;
}
.haier3_input_group {
    padding-left: 10px;
}
.haier3_input_group>input,
 .haier3_input_group>.input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    border: 1px solid #55879d;
    background: none;
    padding-left: 10px;
    margin-left: -10px;
}
.haier3_form_submit{
    width: 45%;
    height: 30px;
    margin-top: 10px;
    border: 1px solid #55879d;
    background: none;
    color: #55879d;
}
.haier3_form_reset {
    float: right;
    width: 45%;
    height: 30px;
    margin-top: 10px;
    border: 1px solid #55879d;
    background: none;
    color: #55879d;
}
.haier3_logo {
    /*display: inline-block;*/
    /*height: 30px;*/
    /*width: 40%;*/
    /*background-image: url("../images/haier2_menu_list1_a1_bg.png");*/
    /*background-size: 100% 100%;*/
    /*background-position: left top;*/
    padding-left: 15px;
}

/*haier4*/
.haier4_list li {
  list-style-type: none;
  float: left;
  font-size: 12px;
  width: 25%;
  text-align: center;
  margin-top: 9px;
  height: 30px;
  box-sizing: border-box;
  line-height: 30px;
  background: url("../images/haier4_list_bg.png");
}
.haier4_list li:nth-child(1) {
    border-right: 1px solid #f9f9f9; 
}
.haier4_list li:nth-child(2) {
    border-right: 1px solid #f9f9f9; 
}
.haier4_list li:nth-child(3) {
    border-right: 1px solid #f9f9f9; 
}
.haier4_list li a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.form_p {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.haier4_form_p {
    float: right;
}

.submit_round_main{
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto;
    border-top: 2px solid #acbdcd;
    border-bottom: 2px solid #acbdcd;
    border-radius: 25px;
    text-align: center;
    background: none;
}
.upgrade_wrap {
    margin-top: 100px;

}
#wifiName {
    display: inline-block;
    min-width:52%;height:30px;
    border:1px solid #55879d;
}